:root {
    --green: #34C759;
    --orange: #E6B127;
    --red: #F06A4D;
    --firm: #9873FF;
    --firm-light: #B89EFF;
    --firm-dark: #8052FF;
    --grey: #C8C5D1;
    --txt-grey: #B0B0B0;
    --black: #333333;
}

.button {
    display: inline-block;
    height: 44px;
    padding: 0px 35px;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s;
}
.button:hover {
    cursor: pointer;
    background-color: var(--firm-light);
    color: #ffffff;
}
.button:active {
    color: #ffffff;
    background-color: var(--firm-dark);
}

.button_primary {
    color: #ffffff;
    background-color: var(--firm);
}
.button_primary:disabled {
    background-color: var(--grey);
}

.button_secondary {
    background-color: transparent;
    border: 1px solid var(--firm);
    color: var(--firm);
}
.button_secondary:disabled {
    color: var(--grey);
    border-color: var(--grey);
}



.text-light {
    color: var(--txt-grey);
}