:root {
    --green: #34C759;
    --orange: #E6B127;
    --red: #F06A4D;
    --firm: #9873FF;
    --firm-light: #B89EFF;
    --firm-dark: #8052FF;
    --grey: #C8C5D1;
    --txt-grey: #B0B0B0;
    --black: #333333;
}

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
}

.header {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 9.03px 27.09px rgba(176, 190, 197, 0.32), 0px 3.39px 5.64px rgba(176, 190, 197, 0.32);
    width: 100%;
}

.header__content {
    height: 50px;
    margin: 0px auto;
    max-width: 1186px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__link {
    display: inline-block;
    height: 100%;
    width: auto;
    margin-right: 53px;
    flex-shrink: 0;
}

.header__logo {
    height: 100%;
    width: 100%;
}

.header__search {
    width: 581px;
    height: 44px;
    flex-shrink: 0;
    position: relative;
}

.header__search__input {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px 44px 0px 16px;
    border: 1px solid var(--grey);
    border-radius: 10px;

    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}
.header__search__input::placeholder {
    color: var(--txt-grey);
}
.header__search__input:focus {
    outline: 2px solid var(--firm);
    outline-offset: -2px;
}

.header__search__button {
    padding: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.header__search__button:hover {
    cursor: pointer;
}

.header__search__icon {
    display: block;
    width: 16px;
    height: 16px;
}

.main {
    display: flex;
    max-width: 1226px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main__content {
    padding: 40px 20px;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.main__content::-webkit-scrollbar {
    display: none;
}

.main__title {
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    margin-bottom: 26px;
}

.main__table {
    min-width: 728px;
}

/* .main__load {
    height: 300px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    background-image: url(../img/load.png);
    background-position: center;
    background-repeat: no-repeat;
} */

.main__btn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 26px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #9873FF;
    color: #9873FF;
}

.main__btn span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.icon--arrow {
    display: inline-block;
    width: 12px;
    height: 1.36em;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}
.icon--arrow-up {
    background-image: url("../icons/arrow-up.svg");
}
.icon--arrow-down {
    background-image: url("../icons/arrow-down.svg");
}

.icon {
    display: inline-block;
    width: 16px;
    height: 1.36em;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.icon--edit {
    background-image: url("../icons/edit.svg");
}
.icon--delete {
    background-image: url("../icons/delete.svg");
}

.icon--contacts {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    transform: opacity 0.3s;
}
.icon--contacts:hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    .main__content {
        background-color: red;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 8px 10px;
    }

    .header__content {
        height: 24px;
        justify-content: center;
    }

    .header__link {
        margin: 0px;
    }

    .header__search {
        display: none;
    }

    .main__content {
        background-color: green;
    }
}