:root {
    --green: #34C759;
    --orange: #E6B127;
    --red: #F06A4D;
    --firm: #9873FF;
    --firm-light: #B89EFF;
    --firm-dark: #8052FF;
    --grey: #C8C5D1;
    --txt-grey: #B0B0B0;
    --black: #333333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__row_header {
    padding: 0 10px;
}

.table__row_body {
    background-color: white;
    padding: 0 10px;
    margin-bottom: 1px;
    height: 60px;
    border-bottom: 1px solid var(--grey);
}

.table__cell {
    padding: 0px 10px;
    text-align: left;
    font-weight: 400;
}
.table__cell:first-child {
    padding-left: 20px;
}
.table__cell:last-child {
    padding-right: 20px;
}

.table__cell_header,
.sort-button {
    font-weight: 400;
    color: var(--txt-grey);
    font-size: 12px;
    text-align: left;
}
.sort-button {
    transition: color 0.3s;
}
.table__cell_header {
    vertical-align: text-bottom;
    padding-bottom: 8px;
}

.sort-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0px 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../icons/arrow-down.svg");
}
.sort-text {
    font-size: 10px;
    font-weight: 600;
    color: var(--firm);
}
.sort-icon,
.sort-text {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.sort-text_1 {
    display: none;
}

.sort-button:hover {
    color: var(--black);
    cursor: pointer;
}
.sort-button.active {
    color: var(--firm);
}

.sort-button:hover *,
.sort-button.active * {
    opacity: 1;
}

.sort-button[data-sortDirection="1"] .sort-icon {
    background-image: url("../icons/arrow-up.svg");
}
.sort-button[data-sortDirection="1"] .sort-text_1 {
    display: inline;
}
.sort-button[data-sortDirection="1"] .sort-text_0 {
    display: none;
}



.table__cell_body {
    font-size: 14px;
    color: var(--black);
}

.table__cell_body_id {
    font-size: 12px;
    color: var(--txt-grey);
}

.table__cell_body_full-name {}

.actions__button {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    transition: color 0.3s;
    width: max-content;
}
.actions__button:hover {
    cursor: pointer;
}

.actions__button--edit:hover {
    color: var(--firm);
}
.actions__button--delete:hover {
    color: var(--red);
}
