:root {
    --green: #34C759;
    --orange: #E6B127;
    --red: #F06A4D;
    --firm: #9873FF;
    --firm-light: #B89EFF;
    --firm-dark: #8052FF;
    --grey: #C8C5D1;
    --txt-grey: #B0B0B0;
    --black: #333333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__row_header {
    padding: 0 10px;
}

.table__row_body {
    background-color: white;
    padding: 0 10px;
    margin-bottom: 1px;
    height: 60px;
    border-bottom: 1px solid var(--grey);
}

.table__cell {
    padding: 0px 10px;
    text-align: left;
    font-weight: 400;
    text-align: left;
}
.table__cell:first-child {
    padding-left: 20px;
}
.table__cell:last-child {
    padding-right: 20px;
}

.table__cell_header,
.button_sort {
    color: var(--txt-grey);
    font-size: 12px;
    text-align: left;
    transition: color 0.3s;
}
.table__cell_header {
    padding-bottom: 8px;
}

.button_sort:hover {
    color: var(--firm);
    cursor: pointer;
}

.button_sort:hover *,
.button_sort--active * {
    opacity: 1;
}

.icon_sort {
    width: 8px;
    height: 8px;
    margin: 0px 2px;
}
.text_sort {
    font-size: 10px;
    font-weight: 600;
    color: var(--firm);
}
.icon_sort,
.text_sort {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.table__cell_body {
    font-size: 14px;
    color: var(--black);
}

.table__cell_body_id {
    font-size: 12px;
    color: var(--txt-grey);
}

.table__cell_body_full-name {}

.actions__button {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    transition: color 0.3s;
    width: max-content;
}
.actions__button:hover {
    cursor: pointer;
}

.actions__button--edit:hover {
    color: var(--firm);
}
.actions__button--delete:hover {
    color: var(--red);
}
